                </div>
                <!-- row -->
            </div>
            <!-- col:12 -->
        </div>
    </div>
    <!-- container -->
</main>
<script src="/javascripts/admin.js"></script>

<% include ../footer %>