<% include top %>
    <div class="col-sm-9 col-xs-12 admin-info mt-3">
        <div class="row">
            <div class="jumbotron bg-white btn-block">
                <h1 class="display-3">Thêm Danh Mục</h1>
                <p class="lead"></p>
                <hr class="my-2">
                <form action="/admin/category" method="post">
                    <div class="form-group">
                      <label for="">Nhập Danh Mục</label>
                      <input type="text" name="category" class="form-control" placeholder="Tên danh mục" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="form-control btn btn-outline-danger"  value="Thêm" >
                    </div>
                </form>
                
            </div>
            <!-- jumbotron -->
            <div class="jumbotron bg-white btn-block mt-3">
                <h1 class="display-3">Quản lý danh mục</h1>
                <p class="lead"></p>
                <hr class="my-2">
                <ul class="list-group mt-3">
                    <% category.forEach(function(item){ %>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        <%= item.name %>
                        <span class="badge badge-secondary badge-pill" >
                            <a href="/admin/category/<%= item._id %>" onclick="if(!confirm('Bạn có muốn sẽ xóa tất cả thông tin liên quan đến danh mục: <%= item.name%> ?')){return false;}" class="remove-category">Xóa</a>
                        </span>
                    </li>
                    <%}) %>
                </ul>
            </div>
            <!-- jumbotron -->
        </div>
    </div>
    <!-- managerinfo col:12 -->
<% include bottom %>                