<% include top %>

    <div class="col-sm-9 col-xs-12 admin-info mt-3">
        <div class="row">
            <div class="jumbotron bg-white btn-block">
                <h1 class="display-3">Thêm Sản Phẩm</h1>
                <p class="lead"></p>
                <hr class="my-2">
                <form action="/admin/insertProduct" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="">Tên Sản Phẩm</label>
                      <input type="text" name="name"  class="form-control" placeholder="" required >
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Danh Mục</label>
                        <select class="form-control" name="category_id">
                          <% category.forEach(function(item){ %>
                          <option value="<%= item._id %>"><%= item.name %></option>
                          <%}) %>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="">Hình ảnh</label>
                      <input type="file" name="imagesProduct" class="form-control" required placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                      <label for="editor">Mô tả trên khung sản phẩm</label>
                      <textarea name="content" id="editor">Mô tả trên khung sản phẩm</textarea>
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Giá sản phẩm</label>
                      <input type="text" name="price" required pattern="[0-9]{4,}" class="form-control" placeholder="Giá gốc sản phẩm" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">VD:999999</small>
                    </div>
                    <div class="form-group">
                      <label for="">Giảm giá (%)</label>
                      <input type="text" name="priceSale" pattern="[0-9]{0,}" class="form-control" placeholder="Đơn vị mặc định %" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">VD:10   (Không cần ghi %)</small>
                    </div>
                    <div class="form-group">
                      <label for="">Số lượng</label>
                      <input type="text" name="number" pattern="[0-9]{1,}" class="form-control" placeholder="Số lượng sản phẩm" aria-describedby="helpId">
                      <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="form-group">
                      <label for="">Đường dẫn</label>
                      <input type="text" name="link" pattern="[a-zA-Z0-9._%+-._%+//]+" required  class="form-control" placeholder="Ví dụ: tên sản phẩm: Giày thể thao thì điền giay-the-thao" aria-describedby="helpId">
                      <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="form-group">
                      <label for="editor1">Thông tin sản phẩm</label>
                      <textarea name="infoProduct" id="editor1">Thông tin sản phẩm</textarea>
                        
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="editor2">Chi tiết sản phẩm</label>
                      <textarea name="detailProduct" id="editor2">Chi tiết sản phẩm</textarea>
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-outline-danger btn-block">Thêm Sản Phẩm</button>
                    </div>
                </form>
            </div>
            <!-- jumbotron -->
            
        </div>
    </div>
    <!-- managerinfo col:12 -->
    <script>
        $(document).ready(function () {
            editor("editor");
            editor("editor1");
            editor("editor2");
        });
        function editor(id){
            
            CKEDITOR.replace( ''+id+'', {
                filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?Type=Images'
            });
        }
    </script>
<% include bottom %>