<% include top %>
    <div class="col-sm-9 col-xs-12 manager-order mt-3">
        <div class="row">
            <div class="jumbotron bg-white btn-block">
                <h1 class="display-3">Bạn không đủ quyền truy cập.</h1>
                
            </div>
        </div>
    </div>
    <!-- managerinfo col:12 -->

<% include bottom %>