<% include ../header %>

<main class="main" id="users">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 list-info">
                        <ul class="ul-list-info">
                            <li class="disabled ">
                                ADMIN
                            </li>
                            <li class="  ">
                                <a href="">Thêm ADMIN</a>
                            </li>
                            <li class="  ">
                                <a href="/admin">Thêm Danh Mục</a>
                            </li>
                            <li class="  ">
                                <a href="/admin/insertProduct">Thêm Sản Phẩm</a>
                            </li>
                            <li class="  ">
                                <a href="/admin/managerProduct">Quản lý Sản Phẩm</a>
                            </li>
                            <li class="  ">
                                <a href="/admin/managerorder">Quản lý order</a>
                            </li>
                            <li class="  ">
                                <a href="/admin/ordersuccess">Đơn hàng đã giao</a>
                            </li>
                            <li class=" ">
                                <a href="/admin/managercomments">Quản Lý Bình Luận</a>
                            </li>
                            <li class=" ">
                               <a href="/admin/managerusers">Quản Lý Users</a> 
                            </li>
                            <li class=" ">
                               <a href="/admin/profit">Doanh Thu</a> 
                            </li>
                            <li class=" ">
                               <a href="">Mã giảm giá</a> 
                            </li>
                            <li class=" ">
                               <a href="">Đăng xuất <i class="fas fa-sign-out-alt"></i></a> 
                            </li>
                        </ul>
                    </div>