    <% include header %>
    <main class="main" id="deliveryInfomation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 delivery-product">
                    <div class="jumbotron">
                        <h1 class="display-5">Thanh Toán</h1>
                    </div>
                    <div class="frames-register-deliveryInfo">
                        <section class="container py-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>Thông tin sản phẩm</h2>
                                    <ul id="tabsJustified" class="nav nav-tabs">
                                        <li class="nav-item"><a href="" data-target="#home" data-toggle="tab" id="stepone" class="nav-link small text-uppercase active">Bước 1: Đăng Nhập</a></li>
                                        <li class="nav-item"><a href="" data-target="#addCart" data-toggle="tab" id="steptwo" class="nav-link small text-uppercase disabled">Bước 2: Đăng ký mua hàng</a></li>
                                        <li class="nav-item"><a href="" data-target="#checkout" data-toggle="tab" id="stepthree" class="nav-link small text-uppercase  disabled">Bước 3: Kiểm tra thông tin</a></li>
                                        <li class="nav-item"><a href="" data-target="#success" data-toggle="tab" id="stepfour" class="nav-link small text-uppercase disabled">Bước 4: Hoàn tất</a></li>
                                    </ul>
                                   <!--disabled--> 
                                    <br>
                                    <div id="tabsJustifiedContent" class="tab-content">
                                        <div id="home" class="tab-pane active show fade text-center">
                                            <a class="btn-block btn btn-outline-success" href="#form-dangnhap" data-toggle="modal">Click để đăng nhập</a>
                                            
                                        </div>
                                        <!-- #home1 -->
                                        <div id="addCart" class="tab-pane fade  ">
                                            
                                        </div>
                                        <!-- #profile1 -->
                                        <div id="checkout" class="tab-pane fade">
                                            
                                        </div>
                                        <div id="success" class="text-center tab-pane fade">
                                            
                                        </div>
                                        <!-- #messages1 -->
                                    </div>
                                    <!-- #tabsJustifiedContent -->
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- frames-register-deliveryInfo -->
                </div>
                <!-- col-12 -->
            </div>
        </div>
        <!-- container -->
    </main>
    <% include footer %>