<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                       <div class="col-sm-3 col-xs-12">
                           <div class="footer-title">
                               <h4>THÔNG TIN</h4>
                               <div class="crossbar"></div>
                               <ul class="list-group nav">
                                   <li class=""><a href="#">Chính sách riêng tư</a></li>
                                   <li class=""><a href="#">Thỏa thuận người dùng</a></li>
                                   <li class=""><a href="#">Điều khoản sử dụng</a></li>
                                   <li class=""><a href="#">Về chúng tôi</a></li>
                               </ul>
                           </div>
                       </div>
                       <!-- col:3 -->
                       <div class="col-sm-3 col-xs-12">
                           <div class="footer-title">
                               <h4>THÔNG TIN</h4>
                               <div class="crossbar"></div>
                               <ul class="list-group nav">
                                   <li class=""><a href="#">Chính sách riêng tư</a></li>
                                   <li class=""><a href="#">Thỏa thuận người dùng</a></li>
                                   <li class=""><a href="#">Điều khoản sử dụng</a></li>
                                   <li class=""><a href="#">Về chúng tôi</a></li>
                               </ul>
                           </div>
                       </div>
                       <!-- col:3 -->
                       <div class="col-sm-3 col-xs-12">
                           <div class="footer-title">
                               <h4>THÔNG TIN</h4>
                               <div class="crossbar"></div>
                               <ul class="list-group nav">
                                   <li class=""><a href="#">Chính sách riêng tư</a></li>
                                   <li class=""><a href="#">Thỏa thuận người dùng</a></li>
                                   <li class=""><a href="#">Điều khoản sử dụng</a></li>
                                   <li class=""><a href="#">Về chúng tôi</a></li>
                               </ul>
                           </div>
                       </div>
                       <!-- col:3 -->
                       <div class="col-sm-3 col-xs-12">
                           <div class="footer-title">
                               <h4>THÔNG TIN</h4>
                               <div class="crossbar"></div>
                               <ul class="list-group nav">
                                   <li class=""><a href="#">Chính sách riêng tư</a></li>
                                   <li class=""><a href="#">Thỏa thuận người dùng</a></li>
                                   <li class=""><a href="#">Điều khoản sử dụng</a></li>
                                   <li class=""><a href="#">Về chúng tôi</a></li>
                               </ul>
                           </div>
                       </div>
                       <!-- col:3 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- col:12 -->
            </div>
            <!-- row -->
        </div>
        <!-- contianer -->
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="form-dangnhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đăng Nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                          <label for="">Email</label>
                          <input type="email" name="username" id="username-access" class="form-control" placeholder="email@gmail.com" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <label for="">Mật khẩu</label>
                            <input type="password" name="password"  id="password-access" maxlength="12" class="form-control" placeholder="Nhập mật khẩu" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                                <button type="submit" class="btn btn-outline-danger btn-block">Đăng Ký</button>
                                <!-- <button type="button" class="btn btn-outline-primary btn-block" id="UserAcess">Đăng Nhập</button> -->
                        </div>
                        <div class="form-group">
                            
                            <a href="/register" class="btn btn-outline-danger btn-block">Đăng Ký</a>
                            
                        </div>
                    </form>
                </div>

            </div>
            </div>
        </div>
        
    <script  src="/javascripts/font-awesome.js"></script>
    
    <script type="text/javascript" src="/javascripts/1.js"></script>
    <script type="text/javascript" src="/javascripts/backend.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/ckfinder/ckfinder.js"></script>
    
   </body>
   </html>