<% include header %>
    <div class="frames-main frames-reqPass">
            <div class="frames-forget">
                <h3 class="title-forget text-center">Đổi mật khẩu</h3>
               
                <% if(message){%>
                <form action="/forget/setnow/<%= user.resetPasswordToken%>" method="post" class="mt-3">
                    <div class="form-group" style="margin-bottom:0">
                        <label for=""></label>
                        <input type="password" name="passnew" required maxlength="12" minlength="4" class="form-control" placeholder="Mật khẩu mới">
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <input type="password" required name="reqpassnew" maxlength="12" minlength="4" class="form-control" placeholder="Nhập lại mật khẩu">
                        <p class="text-muted text-mess"><%= info %></p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-block">Đổi mật khẩu</button>
                    </div>
                </form>
                <%}else{%>
                    <% if(!info){ %>
                        <div class="alert alert-danger" role="alert" style="width:80%;margin:auto">
                            <strong>Đường dẫn </strong> của bạn đã hết hạn sử dụng.
                        </div>
                    <%}else{%>
                        <div class="alert alert-success" role="alert" style="width:80%;margin:auto">
                                <%= info%>
                        </div>
                    <%}%>
                <a href="/" class="btn btn-outline-success mt-3 " style="width:80%;position:relative;left:50%;transform:translateX(-50%);">Quay về trang chủ</a>
                
                <%}%>
            </div>
        </div>
    </div>    
<% include footer %>