<% include ../header %>
<main class="main" id="users">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 list-info">
                        <ul class="ul-list-info">
                            <li class="disabled ">
                                Văn Cương
                            </li>
                            <li class="  ">
                                <a href="/users">Quản Lý Tài Khoản</a>
                            </li>
                            <li class=" ">
                                <a href="/users/order">Quản Lý Đơn Hàng</a>
                            </li>
                            <li class=" ">
                               <a href="/users/ordernew">Đơn Đặt Hàng</a> 
                            </li>
                            <li class=" ">
                               <a href="">Nhận xét của tôi</a> 
                            </li>
                            <li class=" active ">
                               <a href="/users/addressorder">Địa Chỉ</a> 
                            </li>
                            <li class=" ">
                               <a href="">Mã giảm giá</a> 
                            </li>
                            <li class=" ">
                               <a href="/users/redirect">Đăng xuất <i class="fas fa-sign-out-alt"></i></a> 
                            </li>
                        </ul>
                    </div>